<div id="header" role = "banner">
    <div id="todo">To Do</div>
    <div id="search-container">
      <input id="search-field" type="text" placeholder="Пошук">
      <button id="search-button" (click)="performSearch()"> 
        <img id="search-icon-img" src="assets/icons/search-icon.png" alt="Пошук">
      </button>
    </div>
    <button id="profile-button" (click)="profile_info()"> 
     <img id="profile-icon-img" src="assets/icons/ui_user_profile.png" alt="Profile">
    
    </button>
  </div>