.active {
  opacity: 1;
}

nav {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #444444;
}

ul {
  display: flex;
  gap: 40px;
}

.logo {
  font-size: 22px;
  color: white;
  opacity: 1 !important;
}

a {
  font-size: 20px;
  font-weight: 600;
  color: white;
  opacity: 0.8;
}

